body{
    background-color: rgb(184, 0, 0);
    color: rgb(95, 134, 112);
}

section {
    background: rgb(255, 152, 0);
    padding-bottom: 80px;
            padding-top: 80px;
            display: flex;
            justify-content: center;
    }
    .chamada-texto{
        margin-right: 20px;
    }
    
    img {height: 200px;

    }

    .categoria-videos {
        display: flex;
      overflow-x: auto;
      gap: 10px;
     }
     